body, h1, h2, h3 {
    font-family: 'Source Sans Pro', Arial, sans-serif !important;
    font-weight: 300;
    background: #FFFFFF;
    font-size: 22px;
    margin: 0px;
}

h1, h2, h3 {
    text-align: center;
    margin: 10px 0px 10px 0px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 30px;
}

h3 {
    margin-top: 25px;

    font-size: 24px;
    font-weight: 600;
}

a {
    color: #3498db;
    text-decoration: none;
}

.horizontal-ruler {
    width: 100%;
    border-top: dashed 1px;
    margin: 30px 0px;
}

#highlight {
    margin: 20px auto 20px auto;
    padding: 25px 0px 25px 0px;

    background: #2ecc71;
    color: #ffffff;
}

#myPicture {
    text-align: center;
}

#myPicture img {
    width: 100%;
    max-width: 300px;
}

#skills ul {
    padding: 0px;
    list-style: none;
}

#caption {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

#caption img {
    height: 14px;
}

#footer {
    margin: 50px auto 0px auto;
    padding: 10px 0px 0px 0px;
    border-top: dashed 1px;

    text-align: center;
    font-size: 14px;
}

#footer .highlight {
    font-weight: 600;
    display: inline;
}
