.lightFontStyle {
  font-weight: 200;
}
.boldFontStyle {
  font-weight: 600;
}
body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 200;
  background: #FFFFFF;
  font-size: 21px;
  margin: 0px;
}
body h1 {
  font-weight: 200;
  font-size: 48px;
  text-align: center;
  margin: 10px 0px 0px 0px;
}
body h2 {
  font-weight: 200;
  font-size: 32px;
  text-align: center;
}
body a {
  color: #3498db;
  text-decoration: none;
}
body #tags {
  text-align: center;
  margin-bottom: 10px;
}
body #highlight {
  padding: 25px 0px 25px 0px;
  background: #2ecc71;
  color: #ffffff;
}
body #highlight p {
  margin-bottom: 10px;
}
@media (min-width: 801px) {
  body #highlight img {
    display: block;
    margin-right: 20px;
    float: left;
  }
  body #highlight #main {
    margin: 0px auto 0px auto;
    max-width: 800px;
  }
  body #highlight #main #motivation {
    max-width: 480px;
    display: inline-block;
    float: left;
  }
}
@media (max-width: 800px) {
  body #highlight img {
    display: block;
    margin: 0px auto 0px auto;
  }
  body #highlight p {
    padding: 0px 5px 0px 5px;
  }
}
body #highlight #main:after {
  content: "";
  display: table;
  clear: both;
}
body p {
  max-width: 380px;
  margin: 0px auto 0px auto;
}
body #footer {
  margin: 60px auto 0px auto;
  padding: 10px 0px 0px 0px;
  text-align: center;
  font-size: 14px;
  border-top: dashed 1px;
}
body #footer .highlight {
  font-weight: 600;
  display: inline;
}
