
{{content._editable}}
<section class="sio-image{% if content.frame %} sio-image-frame{% endif %}">

  <img src="{{content.image | resize:'1000x0' }}" alt="{{content.alternative_text}}" />

</section>
