<nav id="main-nav">
  <div id="main-nav-content">
    <ul>
      <li class="nav-image"><img src="static/images/thomas_schorn.png" alt="Thomas Schorn" /></li>
      <li><a href="/">Thomas Schorn</a></li>
      <li><a href="/myoffer">Mein Angebot</a></li>
      <li><a href="http://getjournal.one">{{> j1_logo}}Journal One</a></li>
      <li><a href="/experience">Erfahrung</a></li>
      <li><a href="/contact">Kontakt</a></li>
    </ul>
  </div>

  <div id="main-nav-toggle">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"  shape-rendering="geometricPrecision" viewBox="0 0 9 7">

      <rect x="0" y="0" width="10" height="1" fill="white"/>
      <rect x="0" y="3" width="10" height="1" fill="white"/>
      <rect x="0" y="6" width="10" height="1" fill="white"/>

    </svg>
  </div>
</nav>
