<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{title}}</title>

    {{> styles}}
  </head>
  <body>
    {{> main_menu}}

    <div class="content">
      {{{contents}}}
    </div>

    {{> scripts}}
  </body>
</html>
