<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{title}}</title>

    {{> styles}}
  </head>
  <body id="index">

    <div class="row">
        <a class="tile tile-right tile-row-1" href="/contact">
          <span class="adjust-baseline">
            Thomas Schorn
          </span>
        </a>
        <a class="tile tile-left tile-row-1" href="/contact">
          <span class="adjust-baseline">
            <img class="tile-image" src="static/images/thomas_schorn_face.jpg" alt="" />
          </span>
        </a>
        <a class="tile tile-right tile-row-1" href="/myoffer">
          <span class="adjust-baseline">
            Mein Angebot
          </span>
        </a>

      <a class="tile tile-right tile-row-2 j1-left" href="#j1">
        <span class="adjust-baseline">

        </span>
      </a>
      <a class="tile tile-left tile-row-2 j1-right" href="#j1">
        <span class="adjust-baseline">

        </span>
      </a>
      <a class="tile tile-right tile-row-2" href="/experience">
        <span class="adjust-baseline">
          Erfahrung
        <span>
      </a>
    </div>


    {{> scripts}}
  </body>
</html>
