$mobile-threshold: 800px;
$default-space: 20px;

@import 'theme';
@import 'j1_logo';
@import 's_logo';

@import 'main_menu';
@import 'index';

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('images/aec.jpg');
  background-size: cover;
  background-attachment: fixed;

  font: $body-font;
  font-weight: 100;
  padding-bottom: $default-space * 3;
}

h1, h2, h3 {
  margin: $default-space * 3 auto $default-space auto;

  max-width: $mobile-threshold;

  text-align: center;
}

h3 {
  text-align: left;
}

p {

}

.board {
  transform: skewY(6deg);
  background: rgba(256, 256, 256, 0.85);
  margin: 0 auto;
  padding: $default-space $default-space * 2 $default-space * 4 $default-space * 2;
  max-width: $mobile-threshold;

  @media (max-width: $mobile-threshold) {
    padding: $default-space $default-space;
    transform: none;
  }
}

.content {
  transform: skewY(-6deg);

  @media (max-width: $mobile-threshold) {
    transform: none;
  }
}

.center {
  text-align: center;
}

.small {
  font-size: 8pt;
  font-weight: 400;
}

.panorama-image {
  padding: 0;

  img {
    width: 100%;
  }
}

#contact-thumb {
  text-align: center;
  font-size: 24px;
  line-height: 2;
}

#skills-images {
  text-align: center;

  img {
    height: 40px;
    padding: $default-space;
  }
}
