$mobile-threshold: 800px;
$default-space: 20px;

@import 'theme';
@import 'j1_logo';

@import 'main_menu';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font: $body-font;
  padding-bottom: $default-space * 3;
}

h1, h2, h3 {
  margin: $default-space * 3 auto $default-space auto;
  padding: 0 $default-space;

  max-width: $mobile-threshold;

  text-align: center;
}

h3 {
  text-align: left;
}

p {
  margin: $default-space auto;
  padding: 0 $default-space;

  max-width: $mobile-threshold;
}

.center {
  text-align: center;
}

.panorama-image {
  padding: 0;

  img {
    width: 100%;

    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
  }
}

#contact-thumb {
  text-align: center;
  font-size: 24px;
  line-height: 2;
}

#skills-images {
  text-align: center;

  img {
    height: 40px;
    padding: $default-space;
  }
}
