$main-color: white;
$accent-color: hsl(200, 50%, 80%);

$h1-font: 40px 'Lora', serif;
$h2-font: 30px 'Lora', serif;
$h3-font: 22px 'Lora', serif;

$body-font: 18pt 'Roboto', sans-serif;

h1 {
  font: $h1-font;
}

h2 {
  font: $h2-font;
}

h3 {
  font: $h3-font;
}

a {
  color: darken($accent-color, 20%);;
  text-decoration: none;
}
